// =================================== Font Variables Starts =======================
$app-font-family: 'HCo Whitney SSm', sans-serif !important;
// =================================== Font Variables Ends =======================

$app-header-color-dark: #2D383F;

$primary-color: #00AA7E;
$primary-color-bg: #00AA7E1A;
$color-white: #ffffff;
$color-black: #000000;
$color-primary-outline: #00AA7E1A;
$color-light: #707070;

$app-font-size: 0.83rem;
// Heights
$app-header-height: 3.5rem;